body{
    background-color:darkblue;
}
h1,h2,h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aqua;
    
}
.header {
    /* border: 8px solid red; */
    background-image: url(./portfolio-background-header.jpg);
    background-position: 80%;
    margin: 0;
    padding: 20px;
}

.description{
    /* border: 8px solid red; */
    width: 80%;
    margin: auto;
    padding-bottom: 40px;
}

.desc-left{
    width: 40%;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

.desc-right{
    width: 40%;
    vertical-align: middle;
    display: inline-block;
    margin: auto;
}

p, .link {
    font-family: sans-serif;
    color:aqua;
    font-size: 17px;
    text-align: center;
    width: 450px; 
    margin-left: auto;
    margin-right: auto; 
    text-decoration: none;
}
.bot{
    font-family: Arial, Helvetica, sans-serif;
    color:blue;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
ul, ol {
    font-family: sans-serif;
    color:aqua;
    font-size: 17px;
    text-decoration: none;
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10%;
    }